body{
    font-family:arial,"Hiragino Sans GB", "Microsoft YaHei","Î¢Ü›ÕýºÚów","ƒ«ºÚ Pro",    sans-serif;
}
ul,li{
    margin: 0 ;
    padding:0;
}
#logo{
    height:100px;
    line-height: 100px;
}
#main{
    height:588px;
    background:url(../images/banner.jpg) no-repeat;
    border: 1px solid transparent;
    box-sizing: border-box;
    position: relative;
}
#main:after {
    content: "";
    display: table;
}
#main-box{
    height:524px;
    background-color:#ffffff ;
    width:400px;
    position: absolute;
    margin:32px 0 0 900px  ;
    padding:20px;
    box-sizing: border-box;
    top:0;
    left:0;
}
.top{
    margin: 0  auto 25px;
    width:360px;
}
.top>ul{
    float:left;
    list-style: none;
    width:360px;
}
.top li{
    float:left;
    width:49%;
    text-align: center;
    font-size:25px ;
}
.top li:first-child {
    border-right:1px solid #5F5750;
}
.top li:hover{
    color:#FF6700;
    cursor: pointer;
}
input{
    width:360px;
    height:40px;
    box-sizing: border-box;
}
input:first-child {
    margin:25px 0 15px 0;
}
input:nth-child(2){
    margin-bottom: 25px;
}
input:nth-child(3){
    margin-bottom:25px ;
    background-color:#FF6700 ;
    border:none;
    font-size: 25px;
    color:white
}
#other{
    width:360px;
    margin: 0 auto;
}
#other>ul{
    width:100%;
    float:left;
    list-style: none;
}
#other>ul>li{
    float:left;
    width:49%;
    text-align: center;

}
#other>ul>li:first-child {
    border-right:1px solid #c5c5c5;
}
#other a{
    text-decoration: none;
    color:#666666;
}
#foot{
    margin-top:185px;
}
#foot>ul:first-child {
    list-style: none;
    float:left;
    width:360px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 20px;
}
#foot>ul:first-child>li{
    float:left;
    font-size: 14px;
    color:#666666;
    height:20px;
}
#foot>ul:first-child>li:first-child ,#foot>ul:first-child>li:last-child {
    width:138px;
    border-bottom: 1px solid #c5c5c5;
}
#foot>.other{
    list-style: none;
    text-align: center;
    height:20px;
}
#foot>.other>li{
    float:left;
    width:20px;
    height:20px;
    margin-left: 75px;
}
#foot>.other>li:first-child {
    background: url(../images/iconlist_1.png) no-repeat -256px -143px;
}
#foot>.other>li:last-child{
    background: url(../images/iconlist_1.png) no-repeat -194px -143px;
}
#foot>.other>li:nth-child(2){
    background:url(../images/iconlist_1.png) no-repeat -172px -143px ;
}
#footer{
    margin-top:50px;
}
#footer>ul{
   margin:0 auto;
    width:300px;
    height:16px;
    list-style: none;
}
#footer li{
    float:left;
    list-style: none;
    padding-right:10px;
    margin-left:10px;
    border-right:1px solid #c5c5c5;
    height: 16px;
    line-height: 16px;
}
#footer p{
    clear: both;
    text-align: center;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color:#666666;
}
#main-box-2{
    height:445px;
    background-color:#ffffff ;
    width:400px;
    position: absolute;
    padding:20px;
    box-sizing: border-box;
    top:78px;
    left:0;
    margin:32px 0 0 900px ;
    text-align: center;
    display: none;
}
#text{
    margin-top:150px ;
}
